<% page = ["Tweetを投稿する","Tweetを編集する"] %>

<div class="container">
  <div class="row">
    <%= render 'side' %>
    <div class="middle col-md-4">
      <% if @tweet.errors.any? %>
        <div class="alert">
          <ul>
            <% @tweet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if action_name == "new" %>
        <h1><%= page[0] %></h1>
      <% else %>
        <h1><%= page[1] %></h1>
      <% end %>
      
      <%= form_with(model: @tweet, local: true, url: confirm_tweets_path) do |form|%>
        <div class="tweet">
          <p><%= form.label :Tweet %></p>
          <p><%= form.text_field :content %></p>
        </div>
        <%= form.submit %>
      <% end %>
    </div>
    <%= render 'side' %>
  </div>
</div>
