<% page = ["Tweetを編集する","Tweetを編集する"] %>

<div class="container">
  <div class="row">
    <div class="side col-md-4 visible-md visible-lg">
    </div>
    <div class="middle col-md-4">
      <% if action_name == "new" %>
      <h1><%= page[0] %></h1>
      <% else %>
      <h1><%= page[1] %></h1>
      <% end %>
      <%= form_with(model: @tweet, local: true) do |form|%>
        <div class="tweet">
          <p><%= form.label :Tweet %></p>
          <p><%= form.text_field :content %></p>
        </div>
        <%= form.submit %>
      <% end %>
    </div>
    <div class="side col-md-4 visible-md visible-lg">
    </div>
  </div>
</div>
